.left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.disabled-link {
  pointer-events: none;
  background-color: grey;
}

.active-link {
  text-decoration: none;
}

.active-link:hover {
  text-decoration: none;
  filter: brightness(85%);
}

.active-link:active {
  text-decoration: none;
  filter: brightness(75%);
}
