.taskCard {
  width: 22rem;
  display: table;
  margin: 5px;
  background-color: #ffeeba;
}

.blockLeft {
  text-align: left;
  display: block;
  margin: 5px;
}

.display-linebreak {
  display: flex;
  text-align: left;
  white-space: pre-wrap;
}
