.gameComponent {
  background-color: #4cc078;
  min-width: 100%;
  min-height: 100vh;
}

.navbar-game {
  background-color: #399b5e !important;
}

.exitGame {
  background-color: #107259;
  border-color: #08503e;
}

.exitGame:hover {
  background-color: #107259;
  filter: brightness(75%);
  border-color: #08503e;
}

.btn-yellow {
  background-color: #ffb24f !important;
  border-color: #ffb24f !important;
  color: black;
}

.btn-yellow:hover {
  background-color: #da9132 !important;
  border-color: #da9132 !important;
  color: black;
}

.studentGameNav {
  background-color: #3dac67 !important;
  align-items: center;
}
