.forgetPasswordPage {
    background-color: #f9c35e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    padding: 5px;
    text-align: center;
}

.title {
    font-size: 24px;
}

.signInFrame {
    padding: 40px 100px 40px 100px;
    background-color: #e4b257;
    height: fit-content;
    width: 70%;
}


