.accountBody {
  padding: 50px !important;
  background-color: #f9c35e;
  min-height: 100vh;
  min-width: 100%;
}

.rowAccount {
  justify-content: center;
  padding: 10px;
}

.insideBox {
  padding: 10px;
  border: 1px solid #dfa841;
}
