.img {
  width: 150px;
  height: 150px;
  padding: 0px;
}

.card {
  width: 150px;
  height: 150px;
  font-size: 15px;
  justify-content: center;
  padding: 0px;
  align-items: center;
  color: black;
  cursor: pointer !important;
}

.easy {
  background-color: #8dda77 !important;
}

.easy:hover {
  background-color: #75cc5d !important;
}

.medium {
  background-color: #f0ee8d !important;
}

.medium:hover {
  background-color: #ccca67 !important;
}

.hard {
  background-color: #e37171 !important;
}

.hard:hover {
  background-color: #c95353 !important;
}

.card:hover {
  filter: brightness(90%);
  color: black;
  border: none;
}

.card:active {
  filter: brightness(65%);
  color: black;
  border: none;
}

.openedCard {
  width: 600px !important;
  height: 600px !important;
  color: black;
  margin: auto;
}

.disabled {
  background-color: rgb(139, 139, 139) !important;
  filter: brightness(75%);
  pointer-events: none;
  border: none;
}
