.player {
  background-color: rgb(245, 157, 57);
  width: 23rem;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: inline-table;
}

.card {
  font-size: 14px;
}

.taskList {
  padding: 0px;
  justify-content: space-around;
}

.card:hover {
  -webkit-filter: none !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card:active {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.startGame {
  width: 10rem;
  height: 5rem;
}

.gameTitle {
  width: 100%;
  text-align: center;
  padding: 2px;
  display: block;
}
