.player {
  width: 20rem;
  background-color: #ffe1a9;
  border: 1px solid #eab248;
  box-shadow: 1px 1px #eab248;
  border-radius: 0%;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: inline-table;
}

.teamHeader {
  display: flex;
  justify-content: center;
  border: 1px solid #d89f34;
  box-shadow: 1px 1px #c28d2b;
}

.studentTask .modal-content {
  width: fit-content;
}

.card {
  font-size: 14px;
}

.taskList {
  padding: 0px;
  color: black;
}

.card:hover {
  -webkit-filter: none !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card:active {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.startGame {
  width: 10rem;
  height: 5rem;
}

.gameTitle {
  width: 100%;
  text-align: center;
  padding: 2px;
  display: block;
}
