.player {
  background-color: rgb(245, 157, 57);
  width: 23rem;
  margin: 5px;
  text-decoration: none;
  color: black;
  display: inline-table;
}

.card {
  font-size: 14px;
}

.list-group-item {
  padding: 0px;
  justify-content: space-around;
}

.card:hover {
  -webkit-filter: none !important;
  cursor: initial !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card:active {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
