.App {
  text-align: center;
  background-color: #6c80ac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  color: white;
  margin-bottom: 35px;
}

.App-buttons {
  justify-content: center;
}

.btn-class {
  background-color: #4cc078 !important;
  border-color: #3dad68 !important;
  box-shadow: 1px 1px #277d48;
}

.btn {
  border-radius: 0%;
}

.form-control {
  border-radius: 0% !important;
}

.btn-class:hover {
  background-color: #3c9b60 !important;
  border-color: #3c9b60 !important;
  color: rgb(197, 197, 197) !important;
}

.btn-gray {
  background-color: #696969 !important;
  border-color: #696969 !important;
}

.btn-gray:hover {
  background-color: #575757 !important;
  border-color: #575757 !important;
  color: rgb(197, 197, 197) !important;
}

.btn-orange {
  background-color: #ff8c0f !important;
  border-color: #ff8c0f !important;
  box-shadow: 1px 1px #945e0d;
}

.btn-orange:hover {
  background-color: rgb(182, 105, 22) !important;
  border-color: rgb(182, 105, 22) !important;
  color: rgb(197, 197, 197) !important;
}

.btn-green {
  background-color: rgb(7, 80, 122) !important;
  border-color: rgb(7, 80, 122) !important;
}

.btn-green:hover {
  background-color: rgb(6, 67, 102) !important;
  border-color: rgb(6, 67, 102) !important;
  color: rgb(197, 197, 197) !important;
}

.link {
  color: rgb(17, 113, 168);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link:hover {
  color: rgb(7, 80, 122);
}

.row {
  padding: 5px;
  text-align: center;
}

.modal-content {
  background-color: #d9f3d9;
  border-color: #baebba;
}

.modal-header {
  border-color: #acd8ac;
}
