.App { 
  text-align: center;
  background-color: #6c80ac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.App-header {
  color: white;
  margin-bottom: 35px;
}

.App-buttons {
  justify-content: center;
}

.btn-class{
  background-color: #4cc078 !important;
  border-color:#4cc078 !important;
}

.btn-class:hover {
  background-color: #3c9b60 !important;
  border-color: #3c9b60 !important;
  color: rgb(197, 197, 197) !important;
}