.TeacherBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.TeacherView {
    background-color: #fccc73;
    min-height: 100vh;
}

a {
  color: rgba(45, 124, 177, 0.986) !important;
}

/* mouse over link */
a:hover {
  color: rgba(28, 80, 114, 0.986) !important;
  cursor: pointer;
}

.Header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.LogInForm {
  padding: 40px 120px 40px 120px;
  background-color: #e6ba6a;
}

.signIn{
  background:none !important;
  color: rgba(45, 124, 177, 0.986) !important;
  border:none !important; 
  padding:0 !important;
  font: inherit;
  cursor: pointer;
  vertical-align: None !important;
}

.signIn:hover {
  color: rgba(22, 63, 90, 0.986) !important;
  cursor: pointer;

}